 body{
   background-color: rgb(19, 30, 41) !important;
    color: white !important;
    
 }
 .foto{
   width: 50px;
   height: 50px;
 }
 .box{
   
  border: 2px solid white;
  margin: 5px;
  }.nav{
   margin:  100px;
 }
 .btn{
   border-radius: 60px;
   margin: 10px;
 }
 .row{
   padding-top:  100px;
 }
 .wate{
   border: 2px solid white;
   color: black;
   background-color: white;
 }
 